{% set sort_button = "btn btn-dark btn-sm p-1 pt-0 pb-0 rounded-0" %}
{% extends 'base.html' %}
{% block content %}
    <!-- {{ self._TemplateReference__context.name }} -->
    <h1 class="">Documents</h1>
    <p class="alert alert-info text-center">
        !Before saving please refresh the page to get the latest document status. Please use with causion!
    </p>

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="documents-page justify-content-center ">
            <div class="row m-3 border-bottom border-2 border border-secondary rounded p-3 mb-3 bg-dark bg-opacity-50">
                <div class="col-sm-8">
                    <div class='row'>
                        <div class='col'>
                            Total Documents: <button class="btn btn-light btn-sm border-white p-1 m-1 rounded-1">{{ counter['total_docs'] }}</button>
                        </div>
                        <div class='col'>
                            Not Saved: <button class="btn btn-light btn-sm border-white p-1 m-1 rounded-1">{{ counter['not_saved'] }}</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <a class="btn btn-dark btn-sm border-white p-1 m-1 rounded-1"
                       href="{{ url_for('documents', **request.args) }}">Refresh</a>
                    {{ form.save() }}
                    {{ form.save_all() }}
                </div>
            </div>

            <div class="row m-3 border-bottom border-2 border border-secondary rounded p-3 mb-3 bg-dark bg-opacity-50">
                <div class="row mb-1">
                    <div class="col-sm-3">
                        Filename
                        <a class="sort-button {{ sort_button }}"
                           href="{{ url_for('documents', sort_key='filename', reverse=False) }}">&#8593;</a>
                        <a class="sort-button {{ sort_button }}" href="{{ url_for('documents', sort_key='filename', reverse=True) }}">&#8595;</a>
                    </div>
                    <div class="col-sm-6">
                        Path
                        <a class="sort-button {{ sort_button }}"
                           href="{{ url_for('documents', sort_key='path', reverse=False) }}">&#8593;</a>
                        <a class="sort-button {{ sort_button }}"
                           href="{{ url_for('documents', sort_key='path', reverse=True) }}">&#8595;</a>
                    </div>
                    <div class="col-sm-2 align-content-center">
                        Saved
                        <a class="sort-button {{ sort_button }}"
                           href="{{ url_for('documents', sort_key='saved', reverse=False) }}">&#8595;</a>
                        <a class="sort-button {{ sort_button }}"
                           href="{{ url_for('documents', sort_key='saved', reverse=True) }}">&#8593;</a>
                    </div>
                    <div class="col-sm-1 align-content-center">
                        Save
                    </div>
                </div>
                {% for form_row in form.documents %}
                <div class="row pb-1">
                    <div class="col-sm-3">{{ form_row.filename() }}</div>
                    <div class="col-sm-6">{{ form_row.path() }}</div>
                    <div class="col-sm-2 align-content-center">{{ form_row.saved() }}</div>
                    <div class="col-sm-1 align-content-center">{{ form_row.save() }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}
