{% extends 'base.html' %}

{% block content %}
    <!-- {{ self._TemplateReference__context.name }} -->

    {{ render_menu('drawing')|safe }}

    {% include('partials.menu_drawing_save_as.html') %}
    <div class="mt-3 border border-secondary rounded p-3 mb-3 bg-dark bg-opacity-50">
        <h4 class="mt-4 text-white border-bottom border-white pb-1 mb-3">PDF</h4>
        <ul class="alert alert-info">
            <li>
                Exclude Sheet Names Containing shall be a comma delimited list.
                For example: "<span class="font-monospace">Details, DXF</span>". Any
                sheet name containing these words will then be omitted from final PDF.
            </li>
            <li>If target directory is not provided the PDF will be placed on your desktop.</li>
        </ul>

        <div class="mb-3">
            <label for="drawing_select" class="form-label">Select Drawing</label>
            <select class="form-select" id="drawing_select" name="selected_drawing">
                {% if open_drawings %}
                    {% if open_drawings|length == 1 %}
                        {% for drawing in open_drawings %}
                            <option value="{{ drawing }}" selected>{{ drawing }}</option>
                        {% endfor %}
                    {% else %}
                        <option value="">Please select a drawing...</option>
                        {% for drawing in open_drawings %}
                            <option value="{{ drawing }}">{{ drawing }}</option>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <option value="">No drawings found</option>
                {% endif %}
            </select>
        </div>

        <form
                class="row align-items-center"
                hx-post="/htmx/drawing/save_as_pdf"
                hx-target="#confirmation_message"
                hx-swap="innerHtml"
                hx-indicator="#save_as"
        >
            <div class="row mt-2">
                <div class="col">
                    <label for="formSheetExclude" class="form-label">Exclude Sheet Names Containing</label>
                    <input name="exclude_sheet" type="text" class="form-control rounded-0" id="formSheetExclude"
                           value="{{ exclude_sheets }}">
                </div>
            </div>
            <div class="row mt-2">
                <label for="formTargetDirectory" class="form-label">Target directory</label>
                <div id="document_path" hx-get="/htmx/document/path" hx-target="#document_path" hx-swap="innerHtml"
                     hx-trigger="load">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <label for="formFileName" class="form-label">File Name</label>
                    <input name="file_name" type="text" class="form-control rounded-0" id="formFileName"
                           value="{{ open_drawings[0] if open_drawings else '' }}" placeholder="Enter filename without extension">
                </div>
            </div>
            <div class="text-center mt-2">  
                <button type="submit" class="btn btn-dark btn-sm border-white p-1 m-1 rounded-1">
                    Save PDF
                </button>
            </div>
        </form>

        <div class="mt-4" id="confirmation_message">
            <ul class="alert alert-danger text-center">
                If PDF already exists it will be overwritten.
            </ul>
        </div>

        <div id="save_as" class="d-none">
            {% include('partials/spinner.html') %}
        </div>

{% endblock %}
