{% extends 'base.html' %}

{% block content %}
    <!-- {{ self._TemplateReference__context.name }} -->

    {{ render_menu('drawing')|safe }}

    {% include('partials.menu_drawing_save_as.html') %}
    <div class="mt-3 border border-secondary rounded p-3 mb-3 bg-dark bg-opacity-50">

        <h4 class="mt-4 text-white border-bottom border-white pb-1 mb-3">DXF</h4>

        <ul class="alert alert-info">
            <li>
                Include Sheet Names Containing shall be a comma delimited list.
                For example: "<span class="font-monospace">DXF</span>". Any sheet name
                not ontaining these words will then be omitted from the output.
            </li>
            <li>If target directory is not provided the DXFs will be placed on your desktop.</li>
        </ul>

        <div class="mb-3">
            <label for="drawing_select" class="form-label">Select Drawing</label>
            <select class="form-select" id="drawing_select" name="selected_drawing">
                {% if open_drawings %}
                    {% if open_drawings|length == 1 %}
                        {% for drawing in open_drawings %}
                            <option value="{{ drawing }}" selected>{{ drawing }}</option>
                        {% endfor %}
                    {% else %}
                        <option value="">Please select a drawing...</option>
                        {% for drawing in open_drawings %}
                            <option value="{{ drawing }}">{{ drawing }}</option>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <option value="">No drawings found</option>
                {% endif %}
            </select>
        </div>

        <form
                class="row align-items-center"
                hx-post="/htmx/drawing/save_as_dxf"
                hx-target="#save_as"
                hx-swap="innerHtml"
                hx-indicator="#save_as"
        >
            <div class="row mt-2">
                <div class="col">
                    <label for="formSheetInclude" class="form-label">Include Sheet Names Containing</label>
                    <input name="include_sheet" type="text" class="form-control rounded-0" id="formSheetInclude"
                           value="{{ include_sheets }}">
                </div>
            </div>
            <div class="row mt-2">
                <label for="formTargetDirectory" class="form-label">Target directory</label>
                <div id="document_path" hx-get="/htmx/document/path" hx-target="#document_path" hx-swap="innerHtml"
                     hx-trigger="load">
                </div>
            </div>
        </form>
        <ul class="mt-4 alert alert-danger text-center">
            If DXF already exists it will be overwritten.
        </ul>
        <div class="text-center mt-2">

            <button name="save_as" class="btn btn-dark btn-sm border-white p-1 m-1 rounded-1" value="save_as" script="on click remove #save_as">
                Save DXF
            </button>
        </div>
        <div class="row text-center" id="save_as">
            {% include('partials/spinner.html') %}
        </div>
    </div>

{% endblock %}
