<div class="row">
    <div class="col-sm-9">
       {% for item in m_list %}
            {% set cls_active = '' %}
            {% if item['title'].lower() in request.url %}
            {% set cls_active = 'active' %}
            {% endif %}
            <a class="btn btn-dark border-white btn-sm btn-fixed-width p-1 m-1 rounded-1 {{ cls_active }}" href={{ item['url'] }}>
                {{ lang_manager.t('menu.' + item['title'].lower(), item['title']) }}
            </a>
        {% endfor %}
    </div>
    <div class="col-sm-3 text-end">
        {% set cls_active = '' %}
        {% if 'settings' in request.url %}
        {% set cls_active = 'active' %}
        {% endif %}
        <a class="btn btn-dark border-white btm-sm btn-fixed-width p-1 m-1 rounded-1 {{ cls_active }}" href="{{ url_for('settings') }}">
            ⚙️ {{ lang_manager.t('menu.settings', 'Settings') }}
        </a>
    </div>
</div>
