{% extends 'base.html' %}

{% block content %}
    {{ render_menu('part')|safe }}
    <div class="container mt-3">
        <form hx-post="/htmx/part/create_new" hx-target="#create_new" hx-swap="innerHtml" hx-indicator="#create_new">
            <div class="mt-2 border border-secondary rounded p-3 mb-3 bg-dark bg-opacity-50" id="create_new">
                {% include('partials/spinner.html') %}
                {% include('partials/form_product_properties.html') %}
            </div>
        </form>
        <div class="mt-2" id="create_new">
            {% include('partials/spinner.html') %}
        </div>
    </div>
{% endblock %}
