<!-- {{ self._TemplateReference__context.name }} -->
<h1 class="">{{ lang_manager.t('menu.' + m_dict['title'].lower(), m_dict['title']) }}</h1>

<div class="text-center">
    {%- for item in m_dict['menu_items'] -%}
        {% set cls_active = '' %}
        {% if item['active'] %}
        {% set cls_active = 'active' %}
        {% endif %}
        <a class="btn btn-dark border-white btn-sm btn-fixed-width p-1 m-1 rounded-1 {{ cls_active }}" href="{{ item['url'] }}">
            {{ lang_manager.t('pages.' + m_dict['title'].lower() + '.' + item['title'].lower().replace(' ', '_'), item['title']) }}
        </a>
    {%- endfor -%}
</div>
