<h3 class="mt-2">Default Attributes</h3>
<div class="row">
    {% for default_property in default_properties %}
        <div class="col-6">
            <label for="form{{ default_property }}" class="form-label">{{ default_property|title }}</label>
            {% if default_property == 'source' %}
                <input name="{{ default_property }}"
                       type="text"
                       class="form-control rounded-0"
                       id="form{{ default_property }}"
                       value="{{ default_properties[default_property] or '0' }}"
                       placeholder="0">
                <small class="form-text text-muted">Please use one of these numbers: 0-Unknown, 1-Built, 2-Bought</small>
            {% else %}
                <input name="{{ default_property }}" type="text" class="form-control rounded-0" id="form{{ default_property }}"
                       value="{{ default_properties[default_property] or '' }}">
            {% endif %}
        </div>
    {% endfor %}
</div>

<h3 class="mt-2">User Defined Attributes</h3>
<div class="row">
    {% for user_property in user_defined_properties %}
        <div class="col-6">
            <label for="form{{ user_property }}" class="form-label">{{ user_property|title }}</label>
            <input name="{{ user_property }}" type="text" class="form-control rounded-0" id="form{{ user_property }}"
                   value="{{ user_defined_properties[user_property] or '' }}">
        </div>
    {% endfor %}
</div>

<div class="text-center mt-2">
    <button name="submit" class="btn btn-dark btn-sm border-white p-1 m-1 rounded-1" value="submit">Submit</button>
</div>

{% if data %}
    {% include('partials/success.html')  %}
{% endif %}

{% if errors %}
    {% include('partials/errors.html') %}
{% endif %}
