h1 {
    border-bottom: #0a53be 3px solid;
}

h2 {
    border-bottom: #0a53be 2px solid;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-fixed-width {
  width: 100px; /* Fixed width (ignores text length) */
}

.pytitle {
    border: 0;
    font-size: 4rem;
}

.pybody {
    margin-left: 50px;
}

.body-text {
    margin-left: 150px;
    font-size: 18px;
}
